.get-help {
	text-align:center;
	margin-top: 1em;
}
.get-help-text {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	margin-bottom: 2em;
}
#prod-index .centered {
   max-width: 1240px;
}

#prod-index #get-help .tetris-top-left {
	top: 140px;
}
#prod-index #get-help .tetris-mid-right {
	top:600px;
}